// Primary color.
$desaturated-dark-cyan: #5ba4a4;

// Neutral colors.
$light-grayish-cyan-bg: #effafa;
$light-grayish-cyan-filter: #eef6f6;
$dark-grayish-cyan-filter: #7b8e8e;
$very-dark-grayish-cyan-filter: #2c3a3a;
$text-dark: #161616;
$tag-btn-bg: #ddebe9;


// Typography.
$ff-main: 'Spartan', sans-serif;
$fw-medium: 500;
$fw-bold: 700;


// Others.
$card-box-shadow:rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$card-hover-transition: all 0.3s linear;
$btn-hover-transition: all 0.25s linear;