@import "config";
@import "card";
@import "filter";


body {
    background-color: $light-grayish-cyan-bg;
    color: $text-dark;
    font-family: $ff-main;
    font-size: 15px;
}

header {
    background-color: $desaturated-dark-cyan;
    height: 170px;
    background-image: url("../Assets/bg-header-mobile.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media (min-width: 768px) {
        height: 250px;
        background-image: url("../Assets/bg-header-desktop.svg");
    }
}

main {
    max-width: 900px;
    margin: 3rem auto 0;
}

.row-direction {
    display: flex;
    align-items: center;
}