.card-wrapper {
  background-color: #eef6f6;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1.5rem;
}

.card-wrapper:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .card-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-wrapper .company-logo {
  width: 50px;
  margin-top: -60px;
}

@media (min-width: 768px) {
  .card-wrapper .company-logo {
    width: 75px;
    margin-top: 0;
    margin-right: 1rem;
  }
}

@media (min-width: 768px) {
  .card-wrapper .info-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card-wrapper .company-info p {
  color: #5ba4a4;
  font-weight: 700;
  font-size: 14px;
}

.card-wrapper .company-info button {
  color: #effafa;
  margin: 0 0.5rem;
  padding: 0.3rem;
  font-size: 10px;
  border-radius: 50px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.card-wrapper .company-info .btn-new-job {
  background-color: #5ba4a4;
}

.card-wrapper .company-info .btn-new-job:hover {
  background-color: #407373;
}

.card-wrapper .company-info .btn-new-job:focus {
  background-color: #407373;
}

.card-wrapper .company-info .btn-featured-job {
  background-color: #2a3332;
}

.card-wrapper .company-info .btn-featured-job:hover {
  background-color: #647977;
}

.card-wrapper .company-info .btn-featured-job:focus {
  background-color: #647977;
}

.card-wrapper .job-position {
  font-weight: 700;
  margin: 0.5rem 0;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.card-wrapper .job-position:hover {
  color: #5ba4a4;
}

.card-wrapper .job-info p {
  color: #7b8e8e;
  margin-right: 1.5rem;
  position: relative;
}

.card-wrapper .job-info p:after {
  content: "";
  display: inline-block;
  height: 4px;
  width: 4px;
  border-radius: 50%;
  margin-left: 0.7rem;
  background-color: #7b8e8e;
  position: absolute;
  top: 35%;
}

.card-wrapper .job-info p:last-of-type:after {
  content: none;
}

.card-wrapper .tags-container button {
  background-color: #ddebe9;
  color: #5ba4a4;
  margin-right: 1rem;
  padding: 0.8rem 0.5rem;
  font-size: 12px;
  line-height: 0;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.card-wrapper .tags-container button:last-of-type {
  margin-right: 0;
}

.card-wrapper .tags-container button:hover {
  background-color: #5ba4a4;
  color: #effafa;
}

.card-wrapper .tags-container button:focus {
  background-color: #5ba4a4;
  color: #effafa;
}

.card-featured {
  border-left: 4px solid #5ba4a4;
}

.filter-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 70px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  max-width: 900px;
  padding: 1rem 1rem;
  background-color: #eef6f6;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 7px;
}

@media (min-width: 768px) {
  .filter-container {
    padding: 1rem 1.5rem;
  }
}

.filter-container .filter-tags-container {
  width: 75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.8rem;
}

.filter-container .filter-tags-container div {
  background-color: #ddebe9;
  color: #5ba4a4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0.5rem;
  border-radius: 7px;
}

.filter-container .filter-tags-container div p {
  font-weight: 700;
  font-size: 14px;
  margin-right: 0.5rem;
}

.filter-container .filter-tags-container div button {
  background-color: #5ba4a4;
  color: #effafa;
  font-size: 18px;
  padding: 0.5rem 0.4rem 0.2rem;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}

.filter-container .filter-tags-container div button:hover {
  background-color: #161616;
}

.filter-container .filter-tags-container div button:focus {
  background-color: #161616;
}

.filter-container .clear-btn {
  position: relative;
  background: transparent;
  color: #5ba4a4;
  font-weight: 700;
  font-size: 14.5px;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  transition: all 0.25s linear;
}

.filter-container .clear-btn:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  top: 100%;
  left: 0;
  background: #5ba4a4;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.filter-container .clear-btn:hover {
  color: #376262;
}

.filter-container .clear-btn:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

.filter-container .clear-btn:focus {
  color: #376262;
}

.filter-container .clear-btn:focus:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: center;
          transform-origin: center;
}

body {
  background-color: #effafa;
  color: #161616;
  font-family: "Spartan", sans-serif;
  font-size: 15px;
}

header {
  background-color: #5ba4a4;
  height: 170px;
  background-image: url("../Assets/bg-header-mobile.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

@media (min-width: 768px) {
  header {
    height: 250px;
    background-image: url("../Assets/bg-header-desktop.svg");
  }
}

main {
  max-width: 900px;
  margin: 3rem auto 0;
}

.row-direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */